@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EAEFEF;
}
